
#app-container {
  font-family: "Avenir";
  color: "black";
  display: inline-block;
}
.header {
  margin-left: 40px;
  font-weight: 100;
  font-size: 14px;
}

.list {
  list-style: none;
  font-weight: 100px;
}

.list a {
  text-decoration: none;
  color: black;
  padding: 10px 10px 10px 10px;
}

span {
  color: #66CC99;
}
.boxed {
  border: gray 1px solid;
  padding: 10px 10px 10px 10px;
}
