#app-container {
font-family: "Georgia";
line-height: 1.25;
font-size: 20px;
background-color: #fff8d8;
width: 600px;
margin-left: auto;
margin-right: auto;
padding: 50px 50px 200px 50px;
}

span {
  background-color: black;
  color: white;
  font-family: "Geneva";
}

.heading h1 {
  font-weight: 100;
}

.heading h2 {
  font-size: 35px;
  font-weight: 100;
}
